---
import GithubIcon from '@/assets/icons/github.svg';
import LinkedinIcon from '@/assets/icons/linkedin.svg';
import Container from '@/components/ui/container.astro';
import AstroIcon from '@/assets/icons/astro.svg';
import Link from '@/components/ui/link';
import Layout from '@/layouts/Layout.astro';
import InquiryForm from '@/components/features/inquiry-form';
import { ChevronDownIcon } from 'lucide-react';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import SectionHeader from '@/components/ui/section-header.astro';
---

<Layout>
  <Container
    class="flex flex-col justify-center items-center text-center h-svh"
  >
    <div class="bg-dotted absolute inset-0 -z-10">
      <div
        class="bg-gradient-to-b from-transparent from-25% to-background size-full"
      >
      </div>
    </div>
    <div>
      <h1 class="text-5xl sm:text-7xl font-semibold">Khanh Nguyen</h1>
      <p class="mt-2 text-xl sm:text-3xl">A passionate software engineer</p>
    </div>
    <div class="flex items-center gap-4 mt-6 text-sm">
      <Link href="https://github.com/khanhngn-dev/" target="_blank">
        <GithubIcon />
        khanhngn-dev
      </Link>
      <Link
        href="https://www.linkedin.com/in/khanh-gia-nguyen/"
        target="_blank"
      >
        <LinkedinIcon />
        khanh-gia-nguyen
      </Link>
    </div>
    <button
      id="scroll-next-button"
      class="absolute bottom-8 left-1/2 -translate-x-1/2 opacity-50 hover:opacity-100"
    >
      <ChevronDownIcon />
    </button>
  </Container>
  <Container
    class="bg-background relative py-20 flex flex-col gap-6"
    id="about"
  >
    <SectionHeader href="#about"> About me </SectionHeader>
    Hello! I'm Khanh (Jerry), a Fullstack Software Engineer specializing in the JavaScript
    ecosystem. With a background spanning both dynamic startup and large-scale enterprise
    settings, I possess the proven adaptability and confidence to quickly integrate
    and deliver highly desirable results.
  </Container>
  <Container
    class="bg-background relative py-20 flex flex-col gap-6"
    id="contact"
  >
    <SectionHeader href="#contact"> Contact </SectionHeader>
    <Card className="max-w-2xl w-full mx-auto grid sm:grid-cols-3">
      <CardHeader className="sm:col-span-1 grid-rows-none sm:pr-0">
        <CardTitle>Get in Touch</CardTitle>
        <CardDescription>
          Feel free to reach out for collaborations or just a friendly hello!
        </CardDescription>
      </CardHeader>
      <CardContent className="sm:col-span-2 sm:pl-0">
        <InquiryForm client:visible />
      </CardContent>
    </Card>
  </Container>
  <Container class="bg-background" asElement="footer">
    <p class="text-center text-sm py-10 text-muted-foreground">
      Built with <AstroIcon class="size-5 inline" /> Astro by Khanh Nguyen
    </p>
  </Container>
</Layout>

<script>
  const scrollToNextSection = () => {
    window.scrollTo({
      top: window.innerHeight,
      behavior: 'smooth',
    });
  };

  const button = document.getElementById('scroll-next-button');
  button.addEventListener('click', scrollToNextSection);
</script>
