@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #fff;
  --height-navbar: 4rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  @apply text-[var(--color-text)];
}

body {
  background-color: #0d0d0d;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--height-navbar));
}

::-webkit-scrollbar {
  @apply w-2 bg-neutral-900 hover:bg-neutral-800 transition-colors;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/80 rounded-full hover:bg-white/90 transition-colors duration-300;
}

.container-center {
  @apply mx-auto max-w-7xl px-5 sm:px-8;
}

@keyframes blinking {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blinking-cursor {
  background: white;
  animation: blinking 1s step-end infinite;
}

.dashed-horizontal {
  @apply absolute border-0 border-t sm:border-t-[2px] border-dashed border-white/40 w-[100dvw] left-1/2 bottom-0 -z-10 -translate-x-1/2;
}

.square-corner {
  @apply absolute border-b border-l sm:border-b-[2px] sm:border-l-[2px] border-solid border-white/40 w-3 sm:w-5 aspect-square -left-3 -bottom-3 sm:-left-5 sm:-bottom-5;
}

.dashed-vertical {
  @apply fixed border-r sm:border-r-[2px] border-dashed border-white/40 h-[100dvh] -z-10;
}

.link {
  @apply flex items-center relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 hover:after:w-full after:bg-white after:transition-all duration-300;
}

.link-mobile {
  @apply py-4 justify-end px-8 h-16;
}
