@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #141414;
  --color-text: #fff;
  --height-navbar: 4rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  @apply text-[var(--color-text)];
}

body {
  background-color: var(--color-bg);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--height-navbar) + 1rem);
}

::-webkit-scrollbar {
  @apply w-2 bg-neutral-850 hover:bg-neutral-800 transition-colors;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/80 rounded-full hover:bg-white/90 transition-colors duration-300;
}

.container-center {
  @apply mx-auto max-w-7xl px-5 sm:px-8;
}

@keyframes blinking {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blinking-cursor {
  background: white;
  animation: blinking 1s step-end infinite;
}
