---
import Navbar from '@/components/navbar';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-background">
    <Navbar client:idle />
    <slot />
  </body>
</html>
<script is:inline>
  let storedTheme = localStorage.getItem('_theme');
  if (!storedTheme) {
    storedTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    localStorage.setItem('_theme', storedTheme);
  }
  document.body.classList.toggle('dark', storedTheme === 'dark');
</script>
