---
import Navbar from '@/components/navbar';
import SearchCommand from '@/components/search-command';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Khanh Nguyen</title>
  </head>
  <body>
    <Navbar client:load />
    <slot />
    <SearchCommand client:only="react" />
  </body>
</html>
<script is:inline>
  const setTheme = (theme) => {
    document.body.classList.toggle('dark', theme === 'dark');
  };

  const storedTheme = localStorage.getItem('_theme');
  const query = window.matchMedia('(prefers-color-scheme: dark)');

  if (storedTheme === 'dark' || storedTheme === 'light') {
    setTheme(storedTheme);
  } else {
    setTheme(query.matches ? 'dark' : 'light');
  }

  query.addEventListener('change', (e) => {
    const storedTheme = localStorage.getItem('_theme');
    // If the user has set a theme, don't change it
    if (storedTheme === 'dark' || storedTheme === 'light') {
      return;
    }
    setTheme(e.matches ? 'dark' : 'light');
  });
</script>
